#TopNavBarDiv{
    display: flex;
    width: 97%;
    margin: auto;
    /* border: 1px solid; */
    justify-content: space-between;
    position: relative;
}
#TopNavBarUl{
    display: flex;
}
#TopNavBarUl>li{
    list-style: none;
    padding: 2.1vh 1vw 1vh 1vw;
    cursor: pointer;
}
#MegaMenuDiv{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top:120%;
    left: 0;
    background-color: white;
    /* border: 1px solid red; */
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
#MegaMenuDiv>ul>p{
    padding: 4vh 2vw 3vh 2vw;
    cursor: pointer;
}
#MegaMenuDiv>ul>li{
    list-style: none;
    padding: 1vh 2vw 1vh 2vw;
    cursor: pointer;
}
#MegaMenuDiv>ul>img{
    width: 30vw;
}
#ItemDetail{
    width: 30vw;
}
#ItemDetail>img{
    padding-top: 4vh;
    width: 100%;
}
#ItemDetail>p{
    margin: 1vh 0 
}
#ItemDetail>a{
    margin: 1vh 0;
    color: black;
}
#TopNavBarUl>li:hover #MegaMenuDiv{
    top:100%;
    opacity: 1;
    visibility: visible;
}
